:host {
  display: block;
  height: 100%;
}

.shell {
  height: 100%;
}

mat-sidenav {
  width: 260px;
}

.toolbar-title {
  margin: 0;
  font: var(--mat-sys-title-large);
}

main {
  padding: 16px;
}
